# Ignore Python bytecode
__pycache__/
*.pyc

# ==============================
# VS Code settings
# ==============================
.vscode/

# ==============================
# Distribution/build folders
# ============================
dist/
